@page "/"

<h1>Monitoreo de Riego</h1>
<p>Time: @timeSpan.ToString(@"hh\:mm\:ss")</p>

<button @onclick="Start">Start</button>
<button @onclick="Stop">Stop</button>
<button @onclick="Restart">Restart</button>
<ul>
    @foreach (var time in tiempos)
    {
        <li>@time.ToString(@"hh\:mm\:ss")</li>
    }
</ul>
@code {
    private TimeSpan timeSpan;
    private bool enRiego = false;
    private DateTime inicio;
    private Timer timer;
    private List<TimeSpan> tiempos = new List<TimeSpan>();

    private void Start(){
        if(!enRiego)
        {
            inicio = DateTime.Now - timeSpan;
            timer = new Timer(UpdateTime, null, 0, 1000);
            enRiego = true;
        }
    }

    private void Stop(){
        if(enRiego){
            enRiego = false;
            timer?.Dispose();
            tiempos.Add(timeSpan);
            StateHasChanged();
        }
    }

    private void Restart(){
        Stop();
        timeSpan = TimeSpan.Zero;
        StateHasChanged();
    }

    private void UpdateTime(Object state){
        timeSpan = DateTime.Now - inicio;
        InvokeAsync(StateHasChanged);
    }
}
